<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <title>Chat with Friends - KentChat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	    <link href="bootstrap/css/style.css" rel="stylesheet" id="bootstrap-css">
		<script src="bootstrap/js/jquery-1.10.2.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>

    <script src="emoji/js/jQueryEmoji.js"></script>
    <!-- <script src="jquery/jquery.min.js"></script> -->

    <script>
    $(document).ready(function(){
      $('p').Emoji();
    })
    </script>
</head>
<script src="https://use.fontawesome.com/45e03a14ce.js"></script>
<style>
.scroll{
 max-height: 200px;
 overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('../bootstrap/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
</style>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">

    <img src="../bootstrap/img/logo.png" height="50px" width="200px"></img>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/chat">Home</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>

</nav>
  <body style="padding-top:60px">
<div class="main_section">
   <div class="container">
      <div class="chat_container">
         <div class="col-sm-3 chat_sidebar">
    	 <div class="row">
            <div id="custom-search-input">
               <div class="input-group col-md-12">
                  <input type="text" class="  search-query form-control" placeholder="Search contacts..." id="searchContacts" onkeyup="contactSearch()" />
                  <button class="btn btn-danger" type="button">
                  <span class=" glyphicon glyphicon-search"></span>
                  </button>
               </div>
            </div>
            <div class="dropdown all_conversation">
               <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fa fa-weixin" aria-hidden="true"></i>
               My Chats
               <span class="caret pull-right"></span>
               </button>
               <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <li><a href="#" data-toggle="modal" data-target="#myModal">Add Contact</a></li>
                  <li><a href="#">Log Out</a></li>
               </ul>
            </div>

<!--             <div>
            <b>Conversations</b>

            <button type="button" class="btn btn-success btn-xs pull-right" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i>Add Contact</button>
            </div> -->

             <div class="member_list">
               <ul class="list-unstyled" id="convList">


                   {% for conv in conversations %}
                   {% if current_conversation_key == conv.key %}
                  <li class="left clearfix" ><a href="/conversation?conversation_key={{conv.key}}">
                     <span class="chat-img pull-left">
                        <i class="fa fa-user fa-2x"></i>
                     </span>
                     <div class="chat-body clearfix">
                        <div class="header_sec">
                           <strong class="primary-font">{{conv.name}}</strong>
                        </div>
                     </div>
					 </a>
                  </li>
                   {% else %}
                  <li class="left clearfix" ><a href="/conversation?conversation_key={{conv.key}}">
                     <span class="chat-img pull-left">
                        <i class="fa fa-user fa-2x"></i>
                     </span>
                     <div class="chat-body clearfix">
                        <div class="header_sec">
                           <strong class="primary-font">{{conv.name}}</strong>
                        </div>
                     </div>
					 </a>
                  </li>
                   {% endif %}
                   {% endfor %}

               </ul>
            </div>
            </div>
         </div>
         <!--chat_sidebar-->


         <div class="col-sm-9 message_section">
		 <div class="row">
		 <div class="new_message_head">
		 <div class="pull-left"></div><div class="pull-right"><div class="dropdown">
         </div></div>
		 </div><!--new_message_head-->

		 <div class="chat_area">
		 <ul class="list-unstyled">

             {% for message in messages %}

                {% if message.user == self_key %}
                <li class="left clearfix admin_chat">
                    <span class="chat-img1 pull-right">
                        <i class="fa fa-user fa-2x"> </i>
                    </span>
                    <div class="chat-body1 clearfix">
                        <p>{{message.content}}</p>
						<div class="chat_time pull-left">{{message.post_time}}</div>
                    </div>
                </li>
                {% else %}
                <li class="right clearfix">
                    <span class="chat-img pull-left">
                        <i class="fa fa-user fa-2x"> </i>
                    </span>

                    <div class="chat-body1 clearfix">
                        <p>{{message.content}}</p>
						<div class="chat_time pull-right">{{message.post_time}}</div>
                    </div>
                </li>
                {% endif %}


             {% endfor %}


		 </ul>
		 </div><!--chat_area-->

             <form method="post" action="/send_message">
          <div class="message_write">
    	 <textarea class="form-control" name="message_content" placeholder="type a message"></textarea>
		 <div class="clearfix"></div>
         <button type="submit" class="pull-right btn btn-success">Send</button>
              <input type="hidden" name="current_conversation_key" value="{{ current_conversation_key }}"/>
          </div>
		 </form>

         </div>
		 </div>
         </div> <!--message_section-->
      </div>
   </div>
</div>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add a contact</h4>
                </div>
                <div class="modal-body scroll">
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

                    {% for user in nonfriends %}
                    <ul id="myUL">
					<li><a href="/add_conversation?other_user_key={{user.key}}">{{user.name}}</a></li>

                   {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
  </body>
<script>
function myFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";

        }
    }
}
//Filter user lists
function contactSearch(){
    var input, filter, ul, li, a, i;
    input = document.getElementById("searchContacts");
    filter = input.value.toUpperCase();
    ul = document.getElementById("convList");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";

        }
    }
}
</script>
</html>
{% endautoescape %}
