<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <title>Chat with Friends - KentChat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	    <link href="bootstrap/css/style.css" rel="stylesheet" id="bootstrap-css">
		<script src="bootstrap/js/jquery-1.10.2.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
</head>
<script src="https://use.fontawesome.com/45e03a14ce.js"></script>
<style>
.scroll{
 max-height: 200px;
 overflow-y: scroll;
}
</style>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">KentChat</a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#about">About</a></li>  
    </ul>
  </div>
</nav>
  <body style="padding-top:60px">
<div class="main_section">
   <div class="container">
      <div class="chat_container">
         <div class="col-sm-3 chat_sidebar">
    	 <div class="row">

            <div>
            Conversations
                <!-- Trigger the modal with a button -->
            <button type="button" class="fa fa-plus pull-right" data-toggle="modal" data-target="#myModal">Add Contact</button>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add a contact</h4>
                </div>
                <div class="modal-body scroll">

                    {% for user in users %}

                    <a style="display:block" href="/add_conversation?other_user_key={{user.key}}">

                           <li class="left clearfix" type="submit">
                              <div class="chat-body clearfix">
                            <div class="header_sec">
                                <span class="chat-img1 pull-left">
                                 <i class="fa fa-user fa-2x"> </i>
                                </span>
                            <strong class="primary-font">{{user.name}}</strong>
                            </div>
                            </div>
                          </li>
                    </a>
                   {% endfor %}

                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>

            </div>

             <div class="member_list">
               <ul class="list-unstyled">

                   {% for conv in conversations %}

                   <a style="display:block" href="/conversation?conversation_key={{conv.key}}">
                  <li class="left clearfix" type="submit">
                     <div class="chat-body clearfix">
                        <div class="header_sec">

                           <strong class="primary-font">{{conv.name}}</strong> <strong class="pull-right">
                           9:40</strong>
                        </div>
                     </div>
                  </li>
                   </a>

                   {% endfor %}

               </ul>
            </div>
            </div>
         </div>
         <!--chat_sidebar-->
		 
		 
         <div class="col-sm-9 message_section">
		 <div class="row">
		 <div class="new_message_head">
		 <div class="pull-left"></div><div class="pull-right"><div class="dropdown">
         </div></div>
		 </div><!--new_message_head-->
		 
		 <div class="chat_area">
		 <ul class="list-unstyled">

             {% for message in messages %}

                {% if message.user == self_key %}
                <li class="left clearfix admin_chat">
                    <span class="chat-img1 pull-right">
                        <i class="fa fa-user fa-2x"> </i>
                    </span>
                    <div class="chat-body1 clearfix">
                        <p>{{message.content}}</p>
						<div class="chat_time pull-left">{{message.post_time}}</div>
                    </div>
                </li>
                {% else %}
                <li class="right clearfix">
                    <span class="chat-img pull-left">
                        <i class="fa fa-user fa-2x"> </i>
                    </span>

                    <div class="chat-body1 clearfix">
                        <p>{{message.content}}</p>
						<div class="chat_time pull-right">{{message.post_time}}</div>
                    </div>
                </li>
                {% endif %}


             {% endfor %}

				 		 
		 </ul>
		 </div><!--chat_area-->

             <form method="post" action="/send_message">
          <div class="message_write">
    	 <textarea class="form-control" name="message_content" placeholder="type a message"></textarea>
		 <div class="clearfix"></div>
         <button type="submit" class="pull-right btn btn-success">Send</button>
              <input type="hidden" name="current_conversation_key" value="{{ current_conversation_key }}"/>
          </div>
		 </form>

         </div>
		 </div>
         </div> <!--message_section-->
      </div>
   </div>
</div>
  </body>
<script>
$('#monitor').html($(window).width());

$(window).resize(function() {
    var viewportWidth = $(window).width();
    $('#monitor').html(viewportWidth);
});
</script>
</html>
{% endautoescape %}
